apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication
  template:
    metadata:
      labels:
        app: authentication
    spec:
      containers:
        - name: authentication
          image: ecommerceservice-authentication:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3003

---
apiVersion: v1
kind: Service
metadata:
  name: authentication
  namespace: ecommerce
spec:
  selector:
    app: authentication
  ports:
    - port: 3003
      targetPort: 3003
#ok fine11111111